<div class="install">
	<div class="card">
		<div class="card-header">
			<img src="/public/sys/assets/images/logo_and_text.png">
		</div>
		<div class="card-body">
			<div v-if="opoinkinstall.currentStep == 1">
				<p>Welcome to Opoink Framework installation</p>
				<p>By clicking the Agree and Continue button, you agree to our <a href="https://www.opoink.com/termsandconditions" target="_blank">terms and conditions</a>.</p>
			</div>
			<div v-if="opoinkinstall.currentStep == 2">
				<p class="mB-5 fs-18 fw-800">Server Requirement:</p>
				<p class="mB-0">
					<span>
						<i class="fas fa-spinner mR-15" v-if="opoinkinstall.requirement.phpver.passed == null"></i>
						<i class="fas fa-spinner mR-15 fa-spin" v-if="opoinkinstall.requirement.phpver.passed == 'checking'"></i>
						<i class="fas fa-check mR-15" v-if="opoinkinstall.requirement.phpver.passed == true"></i>
						<i class="fas fa-times mR-15" v-if="opoinkinstall.requirement.phpver.passed == false"></i>
					</span>
					{{opoinkinstall.requirement.phpver.message}}
				</p>
				<p class="mB-0">
					<span>
						<i class="fas fa-spinner mR-15" v-if="opoinkinstall.requirement.memlimit.passed == null"></i>
						<i class="fas fa-spinner mR-15 fa-spin" v-if="opoinkinstall.requirement.memlimit.passed == 'checking'"></i>
						<i class="fas fa-check mR-15" v-if="opoinkinstall.requirement.memlimit.passed == true"></i>
						<i class="fas fa-times mR-15" v-if="opoinkinstall.requirement.memlimit.passed == false"></i>
					</span>
					{{opoinkinstall.requirement.memlimit.message}}
				</p>
				<p class="mB-0">
					<span>
						<i class="fas fa-spinner mR-15" v-if="opoinkinstall.requirement.writabledir.passed == null"></i>
						<i class="fas fa-spinner mR-15 fa-spin" v-if="opoinkinstall.requirement.writabledir.passed == 'checking'"></i>
						<i class="fas fa-check mR-15" v-if="opoinkinstall.requirement.writabledir.passed == true"></i>
						<i class="fas fa-times mR-15" v-if="opoinkinstall.requirement.writabledir.passed == false"></i>
					</span>
					{{opoinkinstall.requirement.writabledir.message}}
				</p>
				<p class="mB-0 mT-30">We highly recommend to use Maria Database server version: ^10.2.x</p>
			</div>
			<div v-if="opoinkinstall.currentStep == 3">
				<p class="mB-5 fs-18 fw-800">
					Database: <span class="fs-16 fw-400">we will create a database table if it does not exist, else existing database table will be used.</span>
				</p>
				<div class="row mT-30">
					<div class="col-md-4">
						<div class="form-group">
							<label for="input_host">Host <span class="fc-red">*</span></label>
							<input type="text" class="form-control" id="input_host" v-model="opoinkinstall.form.database.host"/>
							<small class="form-text text-muted">Database host that will be used.</small>
						</div>

						<div class="form-group">
							<label for="input_user">User <span class="fc-red">*</span></label>
							<input type="text" class="form-control" id="input_user" v-model="opoinkinstall.form.database.user"/>
							<small class="form-text text-muted">The database username</small>
						</div>

						<div class="form-group">
							<label for="input_name">Database name <span class="fc-red">*</span></label>
							<input type="text" class="form-control" id="input_name" v-model="opoinkinstall.form.database.name"/>
							<small class="form-text text-muted">The database name</small>
						</div>

						<div class="form-group">
							<label for="input_password">Password</label>
							<input type="text" class="form-control" id="input_password" v-model="opoinkinstall.form.database.password"/>
							<small class="form-text text-muted">Optional, the database password</small>
						</div>

						<div class="form-group">
							<label for="input_prefix">Prefix</label>
							<input type="text" class="form-control" id="input_prefix" maxlength="5" v-model="opoinkinstall.form.database.prefix"/>
							<small class="form-text text-muted">Optional, will be added into the table name</small>
						</div>
					</div>
				</div>
				<p class="mT-15 fc-red" v-if="opoinkinstall.form.database.error">{{opoinkinstall.form.database.error}}</p>
			</div>
		</div>
		<div class="card-footer">
			<div class="text-right">
				<button type="button" class="btn btn-primary" v-on:click="opoinkinstall.goTo(opoinkinstall.currentStep)">
					{{opoinkinstall.buttonName['step' + opoinkinstall.currentStep]}}
				</button>
			</div>
		</div>
	</div>
</div>