<div class="p-15">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-body">
					<p class="m-0 fs-14">Cache system is always ignored in developer's mode. e.i is less compiler, it is only compiled and streamed, this may take a light to heavy server load consumption, depending on how many less files do you have in your modules, but we found this very helpful during the development mode.</p>


					<table class="table mT-50">
						<thead class="thead-light">
							<tr>
								<th style="width: 10px;">
									<label class="customcheckbox mB-0">
										<input 
											class="multiCheboxSelect" 
											type="checkbox" 
											data-list="cache_services_checkbox"
											v-model="systemcacheindex.selectAllVall"
											v-on:change="systemcacheindex.selectAll()"
										>
										<span class="checkmark"></span>
									</label>
								</th>
								<th scope="col" style="width: 250px;">Name</th>
								<th scope="col">Description</th>
								<th scope="col">Status</th>
							</tr>
						</thead>
						<tbody class="customtable">
							<tr>
								<td>
									<label class="customcheckbox">
										<input 
											class="cache_services_checkbox" 
											type="checkbox" 
											value="less" 
											v-model="systemcacheindex.cache_services.less"
										>
										<span class="checkmark"></span>
									</label>
								</td>
								<td class="fs-14">LESS</td>
								<td class="fs-14">Clear all cached less files in /Var/Less directory</td>
								<td>
									<span v-if="systemcacheindex.cache.xml">
										<span v-bind:class="'badge-' + systemcacheindex.cache.less.status" class="fs-14 fw-400 text-capitalize">
											{{systemcacheindex.cache.less.status}}
										</span>
									<span>
								</td>
							</tr>

							<tr>
								<td>
									<label class="customcheckbox">
										<input 
											class="cache_services_checkbox" 
											type="checkbox" 
											value="deployed_files" 
											v-model="systemcacheindex.cache_services.deployed_files"
										>
										<span class="checkmark"></span>
									</label>
								</td>
								<td class="fs-14">Deployed Files</td>
								<td class="fs-14">This are the files inside /public/deploy{deployment_time} this will also remove the directory itself</td>
								<td>
									<span v-if="systemcacheindex.cache.xml">
										<span v-bind:class="'badge-' + systemcacheindex.cache.deployed_files.status" class="fs-14 fw-400 text-capitalize">
											{{systemcacheindex.cache.deployed_files.status}}
										</span>
									<span>
								</td>
							</tr>

							<tr>
								<td>
									<label class="customcheckbox">
										<input 
											class="cache_services_checkbox" 
											type="checkbox" 
											value="xml"
											v-model="systemcacheindex.cache_services.xml"
										>
										<span class="checkmark"></span>
									</label>
								</td>
								<td class="fs-14">XML</td>
								<td class="fs-14">This is the compiled XML/HTML file from your XML layout, will clear all directories and files in /Var/Layout</td>
								<td>
									<span v-if="systemcacheindex.cache.xml">
										<span v-bind:class="'badge-' + systemcacheindex.cache.xml.status" class="fs-14 fw-400 text-capitalize">
											{{systemcacheindex.cache.xml.status}}
										</span>
									<span>
								</td>
							</tr>

							<tr>
								<td>
									<label class="customcheckbox">
										<input 
											class="cache_services_checkbox" 
											type="checkbox" 
											value="database"
											v-model="systemcacheindex.cache_services.database"
										>
										<span class="checkmark"></span>
									</label>
								</td>
								<td class="fs-14">Database</td>
								<td class="fs-14">The cached data from database, will clear all directories and files in /Var/db</td>
								<td>
									<span v-if="systemcacheindex.cache.xml">
										<span v-bind:class="'badge-' + systemcacheindex.cache.database.status" class="fs-14 fw-400 text-capitalize">
											{{systemcacheindex.cache.database.status}}
										</span>
									<span>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="6">
									<p class="fs-14">With selected services:</p>
									<button 
										type="button" 
										class="btn btn-primary modalDialodConfirm" 
										name="purge" 
										value="1"
										v-on:click='systemcacheindex.openModalConfirm()'
									>Purge</button>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>