<div class="modal fade" id="modalconfirmModalCenter" tabindex="-1" role="dialog" aria-labelledby="modalconfirmModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalconfirmModalLongTitle">{{modalconfirm.modalTitle}}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" v-html="modalconfirm.modalContent"></div>
			<div class="modal-footer">
				<button v-if="modalconfirm.modalClose" type="button" class="btn btn-secondary" data-dismiss="modal">
					{{modalconfirm.modalClose}}
				</button>
				<button v-if="modalconfirm.modalAction" type="button" class="btn btn-primary" v-on:click="modalconfirm.callback()">
					{{modalconfirm.modalAction}}
				</button>
			</div>
		</div>
	</div>
</div>