<div class="database-index-index">
	<sidenav-component></sidenav-component>
	<div class="container-wrapper">
		<mainheader-component></mainheader-component>


		<div class="p-15">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-sm-2 col-md-2">
							<h5>Tables</h5>
							<div class="tablenames">
								<ul class="no-bullets p-0">
									<li v-for="(tables, module) in vue.alltables">
										<p class="mb-0 c-pointer" data-bs-toggle="collapse" v-bind:data-bs-target="'#' + module + '_tables'" aria-expanded="false" v-bind:aria-controls="module + '_tables'">
											{{module}}
										</p>
										<ul class="no-bullets collapse elbow" v-bind:id="module + '_tables'" data-bs-parent="#accordion">
											<li class="c-pointer" v-for="(tableValue, tablename) in tables">
												<p class="mb-0" v-on:click="vue.setTableRows(module, tablename)">
													<span class="fs-12 badge rounded-pill bg-success" v-if="tableValue.is_installed">
														{{tablename}}
													</span>
													<span class="fs-12 badge rounded-pill bg-danger" v-if="!tableValue.is_installed">
														{{tablename}}
													</span>
												</p>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-10 col-md-10">
							<table class="table">
								<thead class="thead-light">
									<tr>
										<th scope="col">Name</th>
										<th scope="col">Type</th>
										<th scope="col">Collation</th>
										<th scope="col">Attributes</th>
										<th scope="col">Null</th>
										<th scope="col">Default</th>
										<th scope="col">Action</th>
									</tr>
								</thead>
								<tbody class="customtable" v-if="vue.selectedTableFiels">
									<tr v-for="field in vue.selectedTableFiels.fields">
										<td>
											<span v-if="field.name">{{field.name}}</span>
										</td>
										<td>
											<span v-if="field.type">{{field.type}}</span> <span v-if="field.length">({{field.length}})</span>
										</td>
										<td></td>
										<td>
											<span v-if="field.attributes">{{field.attributes}}</span>
										</td>
										<td>
											<span v-if="field.nullable">Yes</span>
											<span v-else-if="!field.nullable">No</span>
										</td>
										<td>
											<span v-if="field.default === null">NULL</span>
											<span v-else>{{field.default}}</span>
										</td>
										<td>
											Edit Delete
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<mainfooter-component></mainfooter-component>
	</div>
</div>

