<div class="p-15">
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					<h5 class="m-0">Update Module Version</h5>
				</div>
				<div class="card-body">
					<div class="form-group col-md-12">
						<label for="mod_module_ver">Module version <small class="text-muted">Format: x.x.x</small></label>
						<input 
							id="mod_module_ver" 
							name="module_ver" 
							type="text" 
							class="form-control"
							v-model="systemmoduleedit.form.module_ver"
						>
					</div>
				</div>
				<div class="card-footer">
					<button class="btn btn-primary" v-on:click="systemmoduleedit.save()">Save</button>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					<h5 class="m-0">Add Controller</h5>
				</div>
				<div class="card-body">
					<nav>
						<div class="nav nav-tabs" id="nav-tab" role="tablist">
							<a 
								class="nav-item nav-link active" 
								id="nav-home-tab" 
								data-toggle="tab" 
								href="#nav-home" 
								role="tab" 
								aria-controls="nav-home" 
								aria-selected="true"
								v-on:click="systemmoduleedit.setControllerType('RCA')"
							>
								Route/Controller/Action Type
							</a>
							<a 
								class="nav-item nav-link" 
								id="nav-pattern-tab" 
								data-toggle="tab" 
								href="#nav-pattern" 
								role="tab" 
								aria-controls="nav-pattern" 
								aria-selected="false"
								v-on:click="systemmoduleedit.setControllerType('PATTERN')"
							>
								Full Pattern Type
							</a>
						</div>
					</nav>
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active pT-15" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
							<p>
								This type of controller uses the Opoink route/controller/action for your module. <br/>
								Ex: is http://domain.com/user/edit/save. <br/>
								Route: user <br/>
								Controller: edit <br/>
								Action: save <br/>
								This will create a file User/Edit/Save.php under your module Controller directory.
							</p>

							<div class="form-group">
								<label for="controller_type">Controller For</label>
								<select class="select2 form-control custom-select" id="controller_type" v-model="systemmoduleedit.controllerForm.controller_type">
									<option value="public">Public</option>
									<option value="admin">Admin</option>
								</select>
							</div>
							<div class="form-group">
								<label for="controller_route">Route</label>
								<input 
									id="controller_route" 
									name="controller_route" 
									type="text" 
									class="form-control"
									v-model="systemmoduleedit.controllerForm.controller_route"
								>
							</div>
							<div class="form-group" v-if="systemmoduleedit.controllerForm.controller_route">
								<label for="controller_controller">Controller</label>
								<input 
									id="controller_controller" 
									name="controller_controller" 
									type="text" 
									class="form-control"
									v-model="systemmoduleedit.controllerForm.controller_controller"
								>
							</div>
							<div class="form-group" v-if="systemmoduleedit.controllerForm.controller_route && systemmoduleedit.controllerForm.controller_controller">
								<label for="controller_action">Action</label>
								<input 
									id="controller_action" 
									name="controller_action" 
									type="text" 
									class="form-control"
									v-model="systemmoduleedit.controllerForm.controller_action"
								>
							</div>
						</div>
						<div class="tab-pane fade pT-15" id="nav-pattern" role="tabpanel" aria-labelledby="nav-pattern-tab">
							<p>
								This type of controller type uses the full regular expression matching of the URL.<br />
								Ex: /user/edit/:id/save where the id will be a $_GET variable parameter. <br />
								<small class="text-muted">If you are using the Opoink XML layout, please use the route/controller/action type.</small>
							</p>
							<div class="form-group">
								<label for="controller_pattern">Pattern</label>
								<input 
									id="controller_pattern" 
									name="controller_pattern" 
									type="text" 
									class="form-control"
									v-model="systemmoduleedit.controllerForm.controller_pattern"
								>
							</div>
							
							<div class="form-group">
								<label for="controller_request_method">Method</label>
								<select class="select2 form-control custom-select" id="controller_request_method" v-model="systemmoduleedit.controllerForm.controller_request_method">
									<option value="*">Any</option>
									<option value="GET">GET</option>
									<option value="POST">POST</option>
									<option value="PUT">PUT</option>
									<option value="PATCH">PATCH</option>
									<option value="DELETE">DELETE</option>
								</select>
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label for="extend_to_class">Extend To Class</label>
						<input 
							id="extend_to_class" 
							name="extend_to_class" 
							type="text" 
							class="form-control"
							v-model="systemmoduleedit.controllerForm.extend_to_class"
						>
					</div>
				</div>
				<div class="card-footer">
					<button class="btn btn-primary" v-on:click="systemmoduleedit.createController()">Create Controller</button>
				</div>
			</div>
		</div>
	</div>
</div>